.note-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 14px;
  height: 340px;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.15s ease;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.note-card:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
}

.note-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #111827;
}

.note-content {
  font-size: 17px;
  color: #374151;
  line-height: 1.65;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; 
  line-clamp: 5;
  overflow: hidden;     
  flex-grow: 1;
  overflow-wrap: break-word;
}


.note-pin-indicator {
  font-size: 12px;
  font-weight: 600;
  color: #1e3a8a;
  margin-bottom: 6px;
}

.note-card.locked {
  cursor: not-allowed;
  background: #f3f4f6;
}

.note-locked-placeholder {
  font-size: 14px;
  color: #6b7280;
  font-style: italic;
  margin-top: 12px;
}

.trash-card {
  opacity: 1.75;
  cursor: default;
}

.trash-card:hover {
  box-shadow: none;
}

.trash-actions {
  margin-top: auto;
  display: flex;
  gap: 20px;
}

.restore-btn {
  background: #0b996a;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 13px;
  cursor: pointer;
}

.restore-btn:hover {
  background: #0b996a;
}

.delete-forever-btn {
  background: #ae1515;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 13px;
  cursor: pointer;
}

.delete-forever-btn:hover {
  background: #ae1515;
}